fbopen/html/api/1.0/facebook.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--

/******BEGIN LICENSE BLOCK*******
  *
  * Common Public Attribution License Version 1.0.
  *
  * The contents of this file are subject to the Common Public Attribution
  * License Version 1.0 (the "License") you may not use this file except in
  * compliance with the License. You may obtain a copy of the License at
  * http://developers.facebook.com/fbopen/cpal.html. The License is based
  * on the Mozilla Public License Version 1.1 but Sections 14 and 15 have
  * been added to cover use of software over a computer network and provide
  * for limited attribution for the Original Developer. In addition, Exhibit A
  * has been modified to be consistent with Exhibit B.
  * Software distributed under the License is distributed on an "AS IS" basis,
  * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  * for the specific language governing rights and limitations under the License.
  * The Original Code is Facebook Open Platform.
  * The Original Developer is the Initial Developer.
  * The Initial Developer of the Original Code is Facebook, Inc.  All portions
  * of the code written by Facebook, Inc are
  * Copyright 2006-2008 Facebook, Inc. All Rights Reserved.
  *
  *
  ********END LICENSE BLOCK*********/

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.facebook.com/1.0/" xmlns="http://api.facebook.com/1.0/" elementFormDefault="qualified">

<!-- Yo yo yo, this XSD woz be generated by Thrift. -->

<xsd:simpleType name="nid">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="hsid">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="uid">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="flid">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="id">
  <xsd:restriction base="xsd:long" />
</xsd:simpleType>

<xsd:simpleType name="uid_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="field_list">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="time">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="date">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="year">
  <xsd:restriction base="xsd:int" />
</xsd:simpleType>

<xsd:simpleType name="auth_token">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="session_key">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="friend_link">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="member_type">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="json_string">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="concentration">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="sex">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:simpleType name="seeking">
  <xsd:restriction base="xsd:string" />
</xsd:simpleType>

<xsd:complexType name="user_status">
  <xsd:sequence>
    <xsd:element name="message" type="xsd:string" />
    <xsd:element name="time" type="time" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="arg">
  <xsd:sequence>
    <xsd:element name="key" type="xsd:string" />
    <xsd:element name="value" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="session_info">
  <xsd:sequence>
    <xsd:element name="session_key" type="session_key" />
    <xsd:element name="uid" type="uid" />
    <xsd:element name="expires" type="xsd:int" />
    <xsd:element name="secret" type="xsd:string" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="location">
  <xsd:sequence>
    <xsd:element name="street" type="xsd:string" minOccurs="0" />
    <xsd:element name="city" type="xsd:string" />
    <xsd:element name="state" type="xsd:string" />
    <xsd:element name="country" type="xsd:string" />
    <xsd:element name="zip" type="xsd:string" minOccurs="0" />
    <xsd:element name="latitude" type="xsd:decimal" minOccurs="0" />
    <xsd:element name="longitude" type="xsd:decimal" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="affiliation">
  <xsd:sequence>
    <xsd:element name="nid" type="nid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="type" type="xsd:string" />
    <xsd:element name="status" type="xsd:string" />
    <xsd:element name="year" type="year" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="hs_info">
  <xsd:sequence>
    <xsd:element name="hs1_name" type="xsd:string" />
    <xsd:element name="hs2_name" type="xsd:string" />
    <xsd:element name="grad_year" type="year" />
    <xsd:element name="hs1_id" type="hsid" />
    <xsd:element name="hs2_id" type="hsid" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="education_info">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="year" type="year" />
    <xsd:element name="concentrations">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="concentration" type="concentration" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="degree" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="work_info">
  <xsd:sequence>
    <xsd:element name="location" type="location" />
    <xsd:element name="company_name" type="xsd:string" />
    <xsd:element name="position" type="xsd:string" />
    <xsd:element name="description" type="xsd:string" />
    <xsd:element name="start_date" type="date" />
    <xsd:element name="end_date" type="date" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="user">
  <xsd:all>
    <xsd:element name="about_me" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="activities" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="affiliations" minOccurs="0">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="affiliation" type="affiliation" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="birthday" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="books" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="current_location" type="location" minOccurs="0" nillable="true" />
    <xsd:element name="education_history" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="education_info" type="education_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="first_name" type="xsd:string" minOccurs="0" />
    <xsd:element name="hometown_location" type="location" minOccurs="0" nillable="true" />
    <xsd:element name="hs_info" type="hs_info" minOccurs="0" nillable="true" />
    <xsd:element name="interests" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="is_app_user" type="xsd:boolean" minOccurs="0" />
    <xsd:element name="last_name" type="xsd:string" minOccurs="0" />
    <xsd:element name="meeting_for" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="seeking" type="seeking" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="meeting_sex" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="sex" type="sex" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="movies" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="music" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="name" type="xsd:string" minOccurs="0" />
    <xsd:element name="notes_count" type="xsd:int" minOccurs="0" nillable="true" />
    <xsd:element name="pic" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_big" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="pic_small" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="political" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="profile_update_time" type="time" minOccurs="0" nillable="true" />
    <xsd:element name="quotes" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="relationship_status" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="religion" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="sex" type="sex" minOccurs="0" nillable="true" />
    <xsd:element name="significant_other_id" type="uid" minOccurs="0" nillable="true" />
    <xsd:element name="status" type="user_status" minOccurs="0" nillable="true" />
    <xsd:element name="timezone" type="xsd:decimal" minOccurs="0" nillable="true" />
    <xsd:element name="tv" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="uid" type="uid" minOccurs="0" />
    <xsd:element name="wall_count" type="xsd:int" minOccurs="0" nillable="true" />
    <xsd:element name="work_history" minOccurs="0" nillable="true">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="work_info" type="work_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="pic_square" type="xsd:string" minOccurs="0" nillable="true" />
    <xsd:element name="has_added_app" type="xsd:boolean" minOccurs="0" nillable="true" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="friend_info">
  <xsd:all>
    <xsd:element name="uid1" type="uid" minOccurs="0" />
    <xsd:element name="uid2" type="uid" minOccurs="0" />
    <xsd:element name="are_friends" type="xsd:boolean" minOccurs="0" nillable="true" />
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="friendlist">
  <xsd:sequence>
    <xsd:element name="flid" type="flid" />
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="owner" type="uid" minOccurs="0" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="developer_info">
  <xsd:sequence>
    <xsd:element name="uid" type="xsd:int" />
    <xsd:element name="name" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="app_info">
  <xsd:sequence>
    <xsd:element name="app_id" type="xsd:long" />
    <xsd:element name="api_key" type="xsd:string" />
    <xsd:element name="canvas_name" type="xsd:string" />
    <xsd:element name="display_name" type="xsd:string" />
    <xsd:element name="icon_url" type="xsd:string" />
    <xsd:element name="logo_url" type="xsd:string" />
    <xsd:element name="developers">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="developer_info" type="developer_info" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="company_name" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FacebookApiException">
  <xsd:sequence>
    <xsd:element name="error_code" type="xsd:int" />
    <xsd:element name="error_msg" type="xsd:string" />
    <xsd:element name="request_args">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="arg" type="arg" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:element name="auth_createToken_response" type="auth_token" />

<xsd:element name="auth_getSession_response" type="session_info" />

<xsd:element name="feed_publishStoryToUser_response" type="xsd:boolean" />

<xsd:element name="feed_publishActionOfUser_response" type="xsd:boolean" />

<xsd:element name="friends_areFriends_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="friend_info" type="friend_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_get_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_getAppUsers_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="uid" type="uid" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="friends_getLists_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="friendlist" type="friendlist" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="profile_setFBML_response" type="xsd:boolean" />

<xsd:element name="profile_getFBML_response" type="xsd:string" />

<xsd:element name="users_getInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="user" type="user" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="users_isAppAdded_response" type="xsd:boolean" />

<xsd:element name="users_getLoggedInUser_response" type="uid" />

<xsd:element name="admin_getAppProperties_response" type="xsd:string" />

<xsd:element name="admin_setAppProperties_response" type="xsd:boolean" />

<xsd:element name="application_getPublicInfo_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="app_info" type="app_info" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="fql_query_response">
  <xsd:complexType />
</xsd:element>

<xsd:element name="batch_run_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="batch_run_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="error_response" type="FacebookApiException" />

</xsd:schema>
